---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,400italic,300italic);
// @import url(https://fonts.googleapis.com/css?family=Cantata+One);
// @import url(https://fonts.googleapis.com/css?family=Prata);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700);
@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic,700);
// @import url(https://fonts.googleapis.com/css?family=Montserrat:700);

// Our variables
$base-font-family: 'Merriweather','Karla','Georgia',serif;
$base-font-size:   16px;
$base-font-weight: 400;
$title-font-family: 'Playfair Display','Karla','Georgia',serif;
$nav-font-size:  $base-font-size * 0.875;
$small-font-size:  $base-font-size * 0.875;
$smaller-font-size:  $base-font-size * 0.6;
$base-line-height: 1.6;

$spacing-unit:     20px;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$text-color:       #111;
$background-color: lighten($grey-color, 40%);
$brand-color:      INDIANRED; //#2a7ae2;
$secondary-color:  CORNSILK;
$tertiary-color:   LIGHTSLATEGRAY;
// Width of the content area
$content-width:    55em;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "typography",
        "styles"
;
