---
layout: default
---

{% for page in site.pages %}
  {% if page.title %}
  <div id="{{ page.id }}" class="section {{ page.id }}">
    <div class="section-content">
      {{ page.content }}
    </div>
  </div>
  {% endif %}
{% endfor %}
<div id="contact" class="section contact">
  <div class="section-content">
    <h2>Team</h2>
    {% for page in site.pages %}
      {% if page.name %}
      <div class="contact-profile {{ page.name }}">
          {{ page.content }}
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
