---
layout: default
---

{% for page in site.pages %}
  {% if page.section-id %}
  <div id="{{ page.section-id }}" class="section {{ page.section-id }}">
    <div class="section-content">
      {{ page.content }}
    </div>
  </div>
  {% endif %}
{% endfor %}
<div id="testimonials" class="section testimonials">
  <div class="section-content">
    <h2>Testimonials</h2>
    <div class="testimonials-wrapper">
      {% for page in site.pages %}
        {% if page.testimonial-id %}
        <div class="testimonial {{ page.testimonial-id }}">
          {{ page.content }}
        </div>
        {% endif %}
      {% endfor %}
      <div class="pager"></div>
    </div>
  </div>
</div>
<div id="advisors" class="section advisors">
  <div class="section-content">
    <h2>Advisors</h2>
    {% for page in site.pages %}
      {% if page.advisor-id %}
      <div class="advisor-profile {{ page.advisor-id }}">
          {{ page.content }}
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
<div id="team" class="section team">
  <div class="section-content">
    <h2>Team</h2>
    {% for page in site.pages %}
      {% if page.team-id %}
      <div class="team-profile {{ page.team-id }}">
          {{ page.content }}
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
