<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="We offer business development and strategy consultancy. We use analytical and collaborative approach for strategy and implementation plan to achieve concrete results. We believe in achieving results and going one step further by following up on the plan with a clear timeline.">

  <meta property="og:site_name" content="StrategyCo." />
  <meta property="og:title" content="StrategyCo.">
  <meta property="og:description" content="We offer business development and strategy consultancy. We use analytical and collaborative approach for strategy and implementation plan to achieve concrete results. We believe in achieving results and going one step further by following up on the plan with a clear timeline.">
  <meta property="og:image" content="http://strategycoglobal.com/images/hero5.jpeg">
  <meta property="og:url" content="http://strategycoglobal.com/">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
