<header class="header">
    <nav class="nav">
      <a class="logo" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <div class="nav-links">
        {% for page in site.pages %}
          {% if page.section-id %}
          <a class="nav-{{ page.section-id }}" href="#{{ page.section-id }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        <a class="nav-advisors" href="#advisors">Advisors</a>
        <!-- <a class="nav-team" href="#team">Team</a> -->
        <a class="nav-team" href="#contact">Contact</a>
        <a class="nav-team leap" href="#contact">LEAP</a>
      </div>
    </nav>
</header>
