<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">

  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="{{ site.og-image | prepend: site.url }}">
  <meta property="og:url" content="{{ site.url }}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" href="favicon.ico" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/jquery.cycle2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/3.0.20/autosize.min.js"></script>
  <script>
  $(function() {
    $('a[href*="#"]:not([href="#"])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        // $('nav a').removeClass('active');
        // $(this).addClass('active');
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html, body').animate({
            scrollTop: target.offset().top - 45
          }, 200);
          return false;
        }
      }
    });

    $('#services em:first-child').click(function() {
      $(this).toggleClass('active');
    });
    $('.testimonials-wrapper').cycle({
      fx: 'fade',
      pauseOnHover: false,
      pager: '.pager',
      slides: '.testimonial',
      speed: 300,
      timeout: 4500
    });
    autosize($('textarea'));
    $('#submit').click(function(e) {
      e.preventDefault();
      $('.contact-form')[0].reset();
      $('.contact .section-content').toggleClass('hidden');
      var data = getFormData($('.contact-form'));
      console.log(data);
      $.ajax({
          url: "https://formspree.io/rahul.abhisek@gmail.com",
          method: "POST",
          data: data,
          dataType: "json",
          success: function(){
            $('.contact .section-content').toggleClass('hidden');
          }
      });
    });
  });
  function getFormData($form){
    var unindexed_array = $form.serializeArray();
    var indexed_array = {};

    $.map(unindexed_array, function(n, i){
      if(indexed_array[n['name']]) {
        var existing =  indexed_array[n['name']];
        var val = [];
        if(typeof existing === 'string') {
          val.push(existing);
          val.push(n['value']);
        } else {
          existing.push(n['value']);
          val = existing;
        }
        indexed_array[n['name']] = val;
      } else {
        indexed_array[n['name']] = n['value'];
      }
    });

    indexed_array._subject = indexed_array.name + ' (' + indexed_array._replyto + ') : StrategyCo. Contact Form'

    return indexed_array;
  }
  </script>
</head>
