.leap-wrapper {
  .section-content {
    max-width: 100em;
  }

  .join-leap {
    text-align: center;
    background-color: $brand-color;
    border-radius: 0 0 6px 6px;
    &:hover {
      background-color: darken($brand-color, 10%);
      opacity: 1;
    }
  }
  .nav {
    max-width: 100em;
    justify-content: flex-end;
    .join-leap {
      display: inline-block;
      font-size: 0.9rem;
      padding: 10px 30px;
    }
  }
  .headroom--not-top .nav {
    max-width: none;
    padding: 0;
    .join-leap {
      display: block;
      width: 100%;
      font-size: 1.2rem;
      padding: 20px;
    }
  }
  .intro {
    background: white url(../images/leap/hero-leap.jpg) no-repeat 60% 75% / cover;
    .logo {
      font-size: 4.5em;
      font-weight: 300;
      line-height: 1.2;
      letter-spacing: 0.05em;
      text-align: left !important;
      margin: 180px 0 25px 0 !important;
      & + p {
        font-size: 1.5em;
        color: white;
      }
    }
  }
  .customers {
    img {
      flex: 0 0 10%;
      width: 10%;
      height: auto;
      margin: 0;
      filter: grayscale(100%);
      opacity: 0.5;
    }
    .section-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
    }

    p:first-child {
      flex: 0 0 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid $grey-color;
    }
    p:not(:first-child) {
      flex-basis: $flex-column-width;
      font-size: 1.2rem;
      text-align: center;
      margin-bottom: 1em;
      @media (max-width: 767px) {
        flex-basis: 100%;
      }
    }
  }
  .expertise {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      li {
        flex-basis: $flex-column-width;
        margin-bottom: 1em;
        position: relative;
        @media (max-width: 767px) {
          flex-basis: 100%;
        }
        &:after {
          content: '+';
          display: block;
          position: absolute;
          top: 3px;
          right: 0;
          pointer-events: none;
          font-size: 1.8rem;
          line-height: 1.4rem;
          height: 1.4rem;
          width: 1.4rem;
          text-align: center;
          color: $brand-color;
          transition: transform 0.2s;
        }
        &.active {
          &:after {
            transform: rotate(45deg);
          }
          p {
            display: block;
            opacity: 1;
            animation: reveal .3s ease-in-out normal both;
          }
        }
        h6 {
          cursor: pointer;
          padding-bottom: 1rem;
          border-bottom: 1px solid $brand-color;
          margin-bottom: 1.5rem;
          font-size: 1.2rem;
        }
        p {
          display: none;
          animation: reveal .3s ease-in-out reverse both;
        }
      }
    }
  }
  .how-it-works {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 52%;
      background-image: url(../images/leap/leap-application.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      @media (max-width: 767px) {
        display: none;
      }
    }
    &.application:after {
      background-image: url(../images/leap/leap-application.jpg);
    }
    &.selection:after {
      background-image: url(../images/leap/leap-selection.jpg);
    }
    &.outcome:after {
      background-image: url(../images/leap/leap-outcome.jpg);
    }
    &.active {
      li:not(.active) {
        opacity: 0.4;
      }
    }
    ol {
      margin: 0;
      padding-left: 60px;
      li {
        list-style: none;
        counter-increment: ol-counter;
        position: relative;
        cursor: pointer;
        transition: opacity 0.3s ease-in;
        @media (min-width: 767px) {
          width: 45%;
        }
        &:not(:last-child) {
          margin-bottom: 40px;
        }
        &:before {
          content: counter(ol-counter);
          color: white;
          font-size: 1.5rem;
          position: absolute;
          --size: 32px;
          left: calc(-1 * var(--size) - 14px);
          line-height: var(--size);
          width: var(--size);
          height: var(--size);
          top: 0;
          background: $brand-color;
          border-radius: 50%;
          text-align: center;
        }
      }
      h6 {
        margin-bottom: 1rem;
      }
    }
  }
  .testimonial {
    text-align: center;
    max-width: 60em;
    padding: 20px 0;
    margin-left: 50%;
    transform: translateX(-50%);
    p {
      margin: 1rem auto;
      &:first-child {
        display: block;
        position: relative;
      }
    }
    img {
      mix-blend-mode: normal;
      border-radius: 50% 50%;
    }
  }
  .pager {
    padding-left: 0;
  }
}
