body {
  background: $background-color;
  // @media (max-width: 767px) {
  //   font-size: $base-font-size;
  // }
  * {
    box-sizing: border-box;
  }
}
a {
  transition: all 0.3s ease-out;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $title-font-family;
  font-weight: bold;
  letter-spacing: 0.005em;
  position: relative;
}
h2, h3 {
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -$spacing-unit/2;
    left: 0;
    width: 50px;
    border-bottom: 5px solid $brand-color;
  }
}
.page-wrapper {
  background-color: $background-color;
  display: block;
  position: relative;
  margin: 0 auto;
}
.header {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: $brand-color;
  box-shadow: 0 0 5px rgba(black, 0.3);
  z-index: 9999;
}
.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  max-width: $content-width;
  margin: 0 auto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  @media (min-width: 420px) {
    padding: 0 $spacing-unit/2;
  }
  @media (min-width: 540px) {
    justify-content: space-between;
  }
  @media (min-width: 767px) {
    padding: 0 $spacing-unit*2;
  }
  .logo {
    flex: 1 0 100%;
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 0.01em;
    text-align: center;
    margin: 0 !important;
    @media (min-width: 540px) {
      flex: 1 0 auto;
      font-size: 1.4em;
      text-align: left;
    }
  }
  .nav-links {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
  }
  a {
    flex: 0 0 auto;
    padding: $spacing-unit/4 0;
    color: white;
    font-size: $nav-font-size*0.85;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-decoration: none !important;
    vertical-align: middle;
    @media (min-width: 420px) {
      font-size: $nav-font-size;
    }
    @media (min-width: 767px) {
      padding: $spacing-unit/2 0;
      font-size: $nav-font-size * 1.1;
      letter-spacing: 0;
    }
    &:not(:last-child) {
      margin-right: $spacing-unit/2;
      @media (min-width: 420px) {
        margin-right: $spacing-unit;
      }
    }
    &:hover {
      border: 0;
      opacity: 0.7;
    }
    &.nav-intro {
      display: none;
    }
  }
}
.section {
  display: block;
  position: relative;
  margin: 0 auto;
  &:nth-child(even) {
    background-color: white;
  }
  .section-content {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: $spacing-unit;
    max-width: $content-width;
    overflow: auto;
    @media (min-width: 767px) {
      margin: 0 auto;
      padding: $spacing-unit*2;
    }
  }
}
.intro {
  background: white url(../images/hero5.jpeg) no-repeat 50% 0 / cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 500px;
  h1 {
    margin-bottom: 1em;
    text-shadow: 1px 2px 4px rgba(black,0.75);
    color: white;
    font-size: 2.5rem;
    @media (min-width: 767px) {
      font-size: 3.2rem;
    }
  }
  .section-content {
    overflow: visible;
  }
}
.what-we-do {
  @media (min-width: 767px) {
    p:first-child {
      float: right;
      margin: 0 0 0 2em;
      overflow: auto;
      width: 32%;
      img {
        width: 100%;
      }
    }
  }
}
.services {
  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    > li {
      flex-basis: $flex-column-width;
      margin-bottom: $spacing-unit;
      position: relative;
      @media (max-width: 767px) {
        flex-basis: 100%;
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -12px;
        left: 0;
        width: 100%;
        border-bottom: 1px solid $brand-color;
      }
      em + em {
        font-style: normal;
        display: none;
        animation: reveal .3s ease-in-out reverse both;
      }
    }
    em:first-child {
      display: block;
      margin-bottom: $spacing-unit/2;
      font-weight: bold;
      font-style: normal;
      &:after {
        content: '+';
        cursor: pointer;
        display: block;
        float: right;
        font-size: 1.8rem;
        line-height: 1.4rem;
        height: 1.1rem;
        width: 1.1rem;
        text-align: center;
        color: $brand-color;
        transition: transform 0.2s;
      }
      &.active {
        &:after {
          transform: rotate(45deg);
        }
        & + em {
          display: block;
          opacity: 1;
          animation: reveal .3s ease-in-out normal both;
        }
      }
    }
  }
}
.customers {
  p {
    margin: 0;
    background-color: white;
    mix-blend-mode: multiply;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  img {
    height: 100px;
    width: auto;
    margin-bottom: $spacing-unit;
    @media (min-width: 767px) {
    }
  }
}
.testimonials {
  h6 {
    font-size: 1.1rem;
    margin-bottom: 0;
    &:not(:last-child):before {
      content: '';
      display: block;
      position: absolute;
      top: -12px;
      left: 0;
      width: 100%;
      border-bottom: 1px solid $brand-color;
    }
  }
  .testimonial {
    position: relative;
    padding-left: $spacing-unit*4;
    max-width: 50em;
    img {
      max-width: 70px;
      object-fit: contain;
      object-position: 50% 50%;
      mix-blend-mode: multiply;
    }
    @media (min-width: 767px) {
      padding-left: $spacing-unit*6;
      img {
        max-width: 100px;
      }
    }
    p:first-child {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .pager {
    display: block;
    text-align: center;
    font-size: 2rem;
    margin: $spacing-unit 0 0 0;
    color: $grey-color;
    span[class *= 'active'] {
      color: $brand-color;
    }
  }
}
.advisors {
  img {
    max-width: 50%;
    width: 50%;
  }
  h3 {
    margin-bottom: 1.3rem;
  }
  .section-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    > h2 {
      flex-basis: 100%;
    }
    > div {
      flex-basis: 45%;
      margin-bottom: $spacing-unit;
      @media (max-width: 767px) {
        flex-basis: 100%;
      }
    }
  }
}
.team {
  background-color: $grey-color-dark !important;
  color: white;
  img {
    max-width: 50%;
    width: 50%;
  }
  .section-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    > h2 {
      flex-basis: 100%;
    }
    > div {
      flex-basis: $flex-column-width;
      margin-bottom: $spacing-unit;
      @media (max-width: 767px) {
        flex-basis: 100%;
      }
    }
    a {
      color: lighten($brand-color, 10%);
      &:hover {
        color: white;
        border-bottom: 1px solid white;
      }
    }
  }
}
.footer {
  background-color: $tertiary-color;
  color: white;
  font-size: $smaller-font-size;
  letter-spacing: 0.1em;
  text-align: center;
  padding: $spacing-unit;
  p {
    margin: 0;
  }
}
