body {
  background: $background-color;
  @media (max-width: 767px) {
    font-size: $base-font-size * 0.9;
  }
  @media (max-width: 767px) {
    font-size: $base-font-size * 0.8;
  }
  * {
    box-sizing: border-box;
  }
}
a {
  transition: all 0.3s ease-out;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $title-font-family;
  font-weight: bold;
  letter-spacing: 0.005em;
  position: relative;
}
h2, h3 {
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -$spacing-unit/2;
    left: 0;
    width: 50px;
    border-bottom: 5px solid $brand-color;
  }
}
.page-wrapper {
  background-color: $background-color;
  display: block;
  position: relative;
  margin: 0 auto;
}
.header {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: $brand-color;
  box-shadow: 0 0 5px rgba(black, 0.3);
  z-index: 9999;
}
.logo {
  // display: block;
  // // position: absolute;
  // // bottom: $spacing-unit*2;
  // margin: 0 auto;
  // padding: $spacing-unit/2 $spacing-unit;
  // font-size: 1.5em;
  // font-weight: 100;
  // font-style: italic;
  // text-align: center;
  // text-decoration: none !important;
  // border: 0 !important;
  // color: $brand-color !important;
  // background: white;
  // @media (min-width: 767px) {
  //   padding: $spacing-unit $spacing-unit*2;
  //   font-size: 2.5em;
  // }
}
.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 $spacing-unit;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  @media (min-width: 767px) {
    justify-content: center;
    padding: 0 $spacing-unit*2;
  }
  .logo {
    flex: 1 0 100%;
    text-align: left;
    font-weight: bold;
    font-size: 1.4em;
    letter-spacing: 0.01em;
    margin: 0 !important;
    @media (min-width: 767px) {
      flex: 1 0 auto;
    }
  }
  a {
    flex: 0 0 auto;
    margin-left: $spacing-unit/22;
    padding: $spacing-unit/2 0;
    color: white;
    font-size: $nav-font-size * 0.8;
    font-weight: bold;
    text-decoration: none !important;
    vertical-align: middle;
    @media (min-width: 767px) {
      font-size: $nav-font-size;
      margin-left: $spacing-unit*2;
      padding: $spacing-unit/2 0;
    }
    &:hover {
      border: 0;
      opacity: 0.7;
    }
    &.nav-intro {
      display: none;
    }
  }
}
.section {
  display: block;
  position: relative;
  margin: 0 auto;
  &:nth-child(even) {
    background-color: white;
  }
  .section-content {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: $spacing-unit;
    max-width: $content-width;
    overflow: auto;
    @media (min-width: 767px) {
      margin: 0 auto;
      padding: $spacing-unit*2;
    }
  }
}
.intro {
  background: white url(../images/hero5.jpeg) no-repeat 50% 0 / cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 450px;
  h1 {
    margin-bottom: 1em;
    text-shadow: 1px 2px 4px rgba(black,0.5);
    color: white;
    font-size: 2.5rem;
    @media (min-width: 767px) {
      font-size: 3.2rem;
    }
  }
  .section-content {
    overflow: visible;
  }
}
.what-we-do {
  @media (min-width: 767px) {
    p:first-child {
      float: right;
      margin: 0 0 0 2em;
      overflow: auto;
      width: 45%;
      img {
        width: 100%;
      }
    }
  }
}
.expertise {
  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    @media (min-width: 640px) {
      column-count: 2;
      column-gap: 2em;
      column-width: 48%;
    }
    li {
      padding: $spacing-unit/2;
      border: 1px solid $brand-color;
      border-width: 1px 0;
      margin-bottom: -1px;
      break-inside: avoid;
    }
  }
}
.customers {
  p {
    margin: 0;
    background-color: white;
    mix-blend-mode: multiply;
  }
  img {
    display: inline-block;
    height: 120px;
    object-fit: contain;
    object-position: 50% 50%;

    width: 48%;
    &:not(:nth-child(even)) {
      margin-right: 2%;
    }
    @media (min-width: 767px) {
      width: 23%;
      &:not(:nth-child(n+4)) {
        margin-right: 2%;
      }
    }
  }
}
.contact {
  background-color: $grey-color-dark;
  color: white;
  @media (min-width: 767px) {
    p:first-child {
      float: right;
      margin: 4em 0 0 2em;
      overflow: auto;
      width: 35%;
      img {
        width: 100%;
      }
    }
  }
  ul {
    display: block;
    clear: both;
    margin: $spacing-unit*2 0 0 0;
    padding: 0;
    list-style: none;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    @media (min-width: 767px) {
      flex-direction: row;
    }
    li {
      flex: 0 0 50%;
      margin-bottom: 0.5em;
      a {
        display: block;
        background-color: white;
        padding: $spacing-unit/2 0;
        text-align: center;
        margin-right: 2px;
        &:hover {
          border: 0;
          background-color: $brand-color;
          color: white;
        }
      }
    }

  }
}
.footer {
  background-color: $tertiary-color;
  color: white;
  font-size: $smaller-font-size;
  letter-spacing: 0.1em;
  text-align: center;
  padding: $spacing-unit;
  p {
    margin: 0;
  }
}
#contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.contact-profile {
  flex-basis: 45%;
  @media (max-width: 767px) {
    flex-basis: 100%;
  }
}
