<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="page-wrapper leap-wrapper">
      <header class="header">
          <nav class="nav">
            <!-- <a class="logo" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
            <a class="join-leap" href="https://goo.gl/forms/5aC95WpJ2U9B4z053" target="_blank">Join LEAP</a>
          </nav>
      </header>

      <div class="content-wrapper">
        {{ content }}
      </div>

      {% include footer.html %}
    </div>

  </body>

</html>
